* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list, .country-info-list {
  list-style: none;
  padding: 0;
}

.country-list__img {
  margin-right: 8px;
  width: 40px;
}

.country-list__item {
  display: flex;
}

.country-list__text {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}


 .country-info-list__title {
  font-size: 30px;
  margin-top: -60px;
  margin-left: 115px;
  display: block;
}

.country-info-list__img {
  width: 100px;
  margin-right: 10px;
} 

.country-info-list__description {
 font-size: 20px;
}